<html>

<head>
    <title>Example component or modal</title>

    <!-- Import the alpi18n.t('ui_example_component_or_modal')type="i18n.t(i18n.t('ui_import_store_from_i18n_t_ui_example_stori18n_t_ui_import_store_from_example_store_js_this_construct_of_x_data_x_if_is_used_to_ensure_the_component_is_only_rendered_when_the_store_is_available')ed_when_the_store_is_available_div_x_data_template_x_if')"i18n.t('ui_store_examplestore')"i18n.t('ui_keep_in_mind_that_template_cai18n.t('ui_can_have_only_one_root_ei18n_t_ui_can_have_only_one_root_element_inside_x_text_i18n_t_ui_store_examplestore_example1')t('ui_p_p_x_text')"i18n.t('ui_store_examplestore_example2')"></p>
            </div>

        </template>
    </div>

    <!-- Optional style for the component -->
    <style>
        i18n.t('ui_exi18n.t('ui_i18n_t_ui_example_component_width_100')odyi18n.t('ui_example_component_or_modal')   <title>Example component or modal</title>

    <!-- Import the alpi18n.t('ui_example_component_or_modal')type="i18n.t('ui_i18n_t_ui_module')">
        import { store } from "i18n.t('ui_i18n_t_ui_example_stori18n_t_ui_import_store_from_example_store_js_this_construct_of_x_data_x_if_is_used_to_ensure_the_component_is_only_rendered_when_the_store_is_available_div_x_data_template_x_if')"i18n.t('ui_store_examplestore')"i18n.t('ui_keep_in_mind_that_template_can_have_only_one_root_ei18n_t_ui_can_have_only_one_root_element_inside_x_text')"i18n.t('ui_store_examplestore_example1')"i18n.t('ui_p_p_x_text')"i18n.t('ui_store_examplestore_example2')"></p>
            </div>

        </template>
    </div>

    <!-- Optional style for the component -->
    <style>
        i18n.t('ui_example_component_width_100')</style>

</body>

</html>